html{
  background-color: rgb(168, 149, 119);
  width: 100vw;
  height: 100vh;
}
.dice{
  height: 60px;
}
.tarado{
  background-color: #baf6ff;
}
.caquita{
  background-color: #fdd0e4;
}
.tio-coco{
  background-color: #b7effb;
}
.capito{
  background-color: #c7f2cc;
}
.bridi{
  background-color: #e3c6f0;
}





